" ====== Instructions =====
" In IntelliJ 
"   go to Settings > Plugins > Marketplace
"   install IdeaVim
"   click IdeaVim 'V' in the lower right corner of the IDE
"   choose Create ~/.ideavim
"   delete everything in .ideavim
"   paste: source ~/AppData/Local/nvim/.ideavimrc
"               or wherever this file is located on your device
"   Install Relative Line Numbers
"   
"   Resources:
"   IdeaVim actionlist - https://gist.github.com/zchee/9c78f91cc5ad771c1f5d

"" grab standard settings
source ~/AppData/Local/nvim/.vimrc

"" move selected region up/down
vnoremap J :action MoveStatementDown<CR>
vnoremap K :action MoveStatementUp<CR>

"" format file
nnoremap <leader>f :action ReformatCode<CR>

"" quick fix hot keys
nnoremap <C-k> :action GotoPreviousError<CR>
nnoremap <C-j> :action GotoNextError<CR>

"" replace word curor is on
nnoremap <leader>rw :action RenameElement<CR>

" right click and select Appearance > Show Line Numbers
noremap <leader>- :action ToggleDistractionFreeMode<CR>

noremap <leader>sf :action GotoFile<CR>
noremap <leader>sw :action SearchEverywhere<CR>
noremap <leader>su :action FindUsages<CR>
noremap <leader>rf :action RenameFile<CR>

Plug 'machakann/vim-highlightedyank'
