" ====== Instructions =====
" In IntelliJ
"   go to Settings > Plugins > Marketplace
"   install IdeaVim from Marketplace
"   click IdeaVim 'V' in the lower right corner of the IDE
"   choose Create ~/.ideavim
"   delete everything in .ideavim and replace it with everything in the following triple double quotes,
"       removing the first double quote of each line:
""" [.ideavimrc header]
"" after each edit, reloading .ideavimrc settings requires the hotkey shift+ctrl+o while this file is open and in focus
"
"" "Include" our .ideavimrc settings from the source control
"source ~/AppData/Local/nvim/.ideavimrc
"" Shortcut to edit our .ideavimrc settings in the source control
"nnoremap \ve :e ~/AppData/Local/nvim/.ideavimrc<CR>
"" Shortcut to edit *THIS* .ideavimrc file (which is separate from above two files)
"nnoremap \va :e ~/.ideavimrc<CR>
"" Shortcut to reload .ideavimrc settings (only works while *THIS* file is open and in focus)
"nnoremap \vr :action IdeaVim.ReloadVimRc.reload<CR>
""" [.ideavimrc footer]
"   [Notes:
"       - the .ideavimrc should be adjusted the the location of this very file
"       - reload the vim settings after making this edit with shift+ctrl+o while in .ideavim
"       - after performing the above \e will open this file for editing and \r will reload the vim settings after any edits
"   ]
"
"   Ensure the "source ~/AppData/Local/nvim/.vimrc" call below points 
"   to the .vimrc in the parent directory of this git repository
"
"   If making edits, press  while ~/.ideavimrc is open in IDE
"
"  Standard Keymaps
"  - ctrl+` - Quick menu for changing visual elements of the IDE
"  - ctrl+shift+o - Reloads .ideavimrc settings while .ideavimrc is open and in focus (not this files, the one mentioned above!)
"  - <ESC><ESC> - Will take you out of most tool windows back into the editor
"       - If the above doesn't take you back to the safe land of the editor, one of these should:
"           - <TAB><ESC><ESC>
"           - <C-TAB>
"  - <C-F4> - close current window (works great for diff windows that won't go away!!)
"
"  Notes
"  - list of IntelliJ actions can be viewed with command :actionlist
"  - Tool windows can be opened through RecentFiles, or ctrl+tab
"  - set "left margin to distraction free mode" to 0
"  - my preferred theme is called "MyGruvbox"

"" Grab standard settings
source ~/AppData/Local/nvim/.vimrc

" intelligently join things like strings, if statements, comments, chain methods, ignoring unnecessary braces
set ideajoin
" Genuinely the most important option. Get rid of annoying bell when a command doesn't work (you should know it doesn't work when it doesn't work).
set visualbell
" Enter whatever vim mode one was in before a refactor
set idearefactormode=keep

sethandler <C--> a:vim
sethandler <C-/> a:vim
sethandler <C-\> a:vim
sethandler <C-[> a:vim
sethandler <C-]> a:vim
sethandler <C-2> a:vim
sethandler <C-6> a:vim
sethandler <C-=> a:vim
sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-C> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:vim
sethandler <C-G> a:vim
sethandler <C-H> a:vim
sethandler <C-I> a:vim
sethandler <C-J> a:vim
sethandler <C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-Q> a:vim
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:vim
sethandler <C-X> a:vim
sethandler <C-Y> a:vim
sethandler <F8> a:vim
sethandler <F9> a:vim
sethandler <F10> a:vim
sethandler <F11> a:vim
sethandler <F12> a:vim
sethandler <C-F10> a:vim
sethandler <C-F11> a:vim

"" Navigation
vnoremap J :action MoveStatementDown<CR>
vnoremap K :action MoveStatementUp<CR>
nnoremap [m :action MethodUp<CR>
vnoremap [m :action MethodUp<CR>
nnoremap ]m :action MethodDown<CR>
vnoremap ]m :action MethodDown<CR>
nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>
nnoremap <C-S-J> :action VcsShowNextChangeMarker<CR>
nnoremap <C-S-K> :action VcsShowPrevChangeMarker<CR>

"" Text Editing
nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>
nnoremap <leader>rw :action RenameElement<CR>
nnoremap <leader>rr :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>rg :action Generate<CR>
" indentation
vnoremap < <gv
vnoremap > >gv
nnoremap <C-S-f> :action Replace<CR>
vnoremap <C-S-f> :action Replace<CR>

"" Quick fix hot keys
nnoremap <C-k> :action GotoPreviousError<CR>
nnoremap <C-j> :action GotoNextError<CR>
nnoremap <leader>e :action ShowErrorDescription<CR>

"" Toggle IDE window configurations
nnoremap <leader>h :action HideAllWindows<CR>
nnoremap <leader>H :action ToggleDistractionFreeMode<CR>
nnoremap <leader>l :action ChangeToolWindowLayout<CR>
nnoremap <leader>L :action StoreNewLayout<CR>
nnoremap <leader>- :action ToggleZenMode<CR>
nnoremap <leader>_ :action TogglePresentationMode<CR>

"" Files
"" project files
nnoremap <leader>fs :action GotoFile<CR>
"" *any* file
nnoremap <leader>fo :action OpenFile<CR>
nnoremap <leader>fr :action RenameFile<CR>
nnoremap <leader>fn :action NewFile<CR>
nnoremap <leader>fp :action SelectInProjectView<CR>
nnoremap <leader><space> :action RecentFiles<CR>
" Delete file (great for scratch files): ShowNavBar shortcut + select file + delete

"" Editors/Windows
nnoremap <C-w>q :action CloseEditor<CR>
nnoremap <C-w><C-q> :action CloseEditor<CR>
nnoremap <C-w>Q :action CloseAllEditors<CR>
nnoremap <C-w>H :action MoveEditorToOppositeTabGroup<CR>
nnoremap <C-w>J :action MoveEditorToOppositeTabGroup<CR>
nnoremap <C-w>K :action MoveEditorToOppositeTabGroup<CR>
nnoremap <C-w>L :action MoveEditorToOppositeTabGroup<CR>
nnoremap <C-w>V :action MoveTabRight<CR>
nnoremap <C-w>S :action MoveTabDown<CR>
nnoremap <C-=> :action EditorIncreaseFontSize<CR>
nnoremap <C--> :action EditorDecreaseFontSize<CR>

"" Regions
nnoremap zc :action CollapseRegion<CR>
nnoremap zC :action CollapseAllRegions<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap zO :action ExpandAllRegions<CR>
nnoremap za :action CollapseSelection<CR>

"" Search
nnoremap <C-f> :action Find<CR>
vnoremap <C-f> :action Find<CR>
nnoremap <leader>sg :action SearchEverywhere<CR>
nnoremap <leader>su :action FindUsages<CR>
nnoremap <leader>ss :action GotoSymbol<CR>
nnoremap <leader>sa :action GotoAction<CR>
vnoremap <leader>sa :action GotoAction<CR>
nnoremap n nzz:action ExpandRegion<CR>
nnoremap N Nzz:action ExpandRegion<CR>
" Modification of default keymaps, searches for specific element tied to word, instead of word itself
nnoremap # :action GotoPrevElementUnderCaretUsage<CR>
nnoremap * :action GotoNextElementUnderCaretUsage<CR>

"" Comments
nnoremap <C-/> :action CommentByLineComment<CR>
vnoremap <C-/> :action CommentByBlockComment<CR>

"" Multiple cursors (requires visual-line mode)
vnoremap <leader>I :action EditorAddCaretPerSelectedLine<CR>
vnoremap <leader>A :action EditorAddCaretPerSelectedLine<CR>

"" Seems redundant, but used to exit multiple cursors
noremap <C-[> <ESC>

"" Build, Gradle
nnoremap <leader>bb :action MakeGradleProject<CR>
nnoremap <leader>br :action RebuildGradleProject<CR>
nnoremap <leader>bc :action CleanGradleProject<CR>
"" nnoremap <leader>bb :action Build<CR>
"" nnoremap <leader>br :action Rebuild<CR>
"" nnoremap <leader>bc :action Clean<CR>
nnoremap <leader>bs :action Android.SyncProject<CR>
nnoremap <leader>rad :action XDebugger.AttachToProcess<CR>
nnoremap \\b :action ToggleLineBreakpoint<CR>
nnoremap \\B :action XDebugger.MuteBreakpoints<CR>

"" Change history
nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>

"" Debugging 
nnoremap <F8> :action Run<CR>
nnoremap <F9> :action Debug<CR>
nnoremap <leader><F9> :action XDebugger.AttachToProcess<CR>
nnoremap <F10> :action StepInto<CR>
nnoremap <C-F10> :action Resume<CR>
nnoremap <F11> :action StepOut<CR>
nnoremap <C-F11> :action Stop<CR>
nnoremap <F12> :action StepOver<CR>
vnoremap <F8> :action Run<CR>
vnoremap <F9> :action Debug<CR>
vnoremap <leader><F9> :action XDebugger.AttachToProcess<CR>
vnoremap <F10> :action StepInto<CR>
vnoremap <C-F10> :action Resume<CR>
vnoremap <F11> :action StepOut<CR>
vnoremap <C-F11> :action Stop<CR>
vnoremap <F12> :action StepOver<CR>
inoremap <F8> :action Run<CR>
inoremap <F9> :action Debug<CR>
inoremap <leader><F9> :action XDebugger.AttachToProcess<CR>
inoremap <F10> :action StepInto<CR>
inoremap <C-F10> :action Resume<CR>
inoremap <F11> :action StepOut<CR>
inoremap <C-F11> :action Stop<CR>
inoremap <F12> :action StepOver<CR>

" +++ DIRT NASTY LOW SHORTCUTS TO CHANGE YOUR LIFE +++
" Quick list of recent locations
nnoremap <leader>vl :action RecentLocations<CR>
" Shows changes to current file with timestamps & diffs
nnoremap <leader>vh :action LocalHistory.ShowHistory<CR>
" Introspection on where calls to a function might come from
nnoremap <leader>vc :action CallHierarchy<CR>
" Easily navigate to other files somewhere in the chain of the current file's directory
nnoremap <leader>vn :action ShowNavBar<CR>
" Shows the structure of the current file in a shorter digestible list (classes/methods)
nnoremap <leader>vs :action FileStructurePopup<CR>
" Jumps to last tool window
nnoremap <leader>vt :action JumpToLastWindow<CR>
" Create a scratch file that exists only in the local IDE and not in your project
nnoremap <leader>ns :action NewScratchFile<CR>
" View local changes since last commit and choose diff to display
nnoremap <leader>vg :action Vcs.QuickListPopupAction<CR>
nnoremap <leader>vG :action Vcs.Show.Local.Changes<CR>


Plug 'machakann/vim-highlightedyank'